@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

main header nav div{
    padding: 20px;
}

main header .indice a{
    color: #FFE4BC;
}


main header .indice a img{
    width: 30px;
    margin-right: 10px;
}

main header nav .container-fluid{
    background-color: #00595C;
}

section.main{
    display: flex;
    padding: 5em;
    height: 70%;
}


section.main img{
    width: 50%;
    border-radius: 10px;
}
section.main .main-titulo{
    font-size: 5em;
}

section.main .main-titulo span{
    font-size: 1em;
    color: #bb3b3b;
}

section.main .main-subtitulo{
    font-style: italic;
    font-size: 3em;
    color: rgb(104, 104, 104);
    font-weight: 300;
}


section.main .titulo{
    margin-bottom: 20px;
}

section.main .main-text .contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;

}

section.main .main-text .contenedor-boton button{
    border: none;
    border-radius: 10px;
    background-color: #240701;
    padding: 30px;
    margin-top: 20px;
}

section.main .main-text .contenedor-boton button:hover{
    background-color: #FFE4BC;
    transition: 0.3s;
}

section.main .main-text .contenedor-boton button a:hover{
    color: #240701;
    transition: 0.3s;
}

section.main .main-text .contenedor-boton button a{
    color: white;
    font-size: 2em;
    text-decoration: none;
}



#section1{
    background: url(../imgs/fondochess.jpg);
    background-size: cover;
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
}

#section1 .container p{
    filter: none;
    font-style: italic;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 6em;
    font-weight: 300;
}

#section2{
    padding: 60px;
}

#section2 .contenedor-cartas{
    justify-content: center;
    align-items: center;
}

#section2 .contenedor-cartas .card{
    margin: 40px;
    
}

#section2 .contenedor-cartas .card .card-body .card-text{
    font-size: 2em;
}

#call-to-action{
    position: relative;
}